<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>내 정보</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>


<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div class="mb-3">
        <button type="button" class="btn btn-primary" th:onclick="fetchDailyFocusTime()">일일 집중시간</button>
        <button type="button" class="btn btn-secondary" th:onclick="fetchWeeklyFocusTime()">주간 집중시간</button>
        <button type="button" class="btn btn-third" th:onclick="fetchMonthlyFocusTime()">월간 집중시간</button>
    </div>
<!--    일별 누적시간-->
    <div>
        <table class="table table-striped" id="dailyTimeTable">
            <thead>
            <tr>
                <th>날짜</th>
                <th>누적공부시간</th>
            </tr>
            </thead>
            <tbody id="dailyTimeTableBody">
            <tr th:each="cumulativeTime : ${cumulativeTimes}">
                <td th:text="${cumulativeTime.date}"></td>
                <td th:text="${cumulativeTime.cumulativeTimeDiff}"></td>
            </tr>
            </tbody>
        </table>
    </div>
<!--    주별 누적시간-->
    <div>
        <table class="table table-striped" id="weeklyTimeTable" style="display: none">
            <thead>
            <tr>
                <th>시작일</th>
                <th>종료일</th>
                <th>누적시간</th>
            </tr>
            </thead>
            <tbody id="cumulativeWeekTimeTableBody">
            </tbody>
        </table>
    </div>
<!--월별 누적시간-->
    <div>
        <table class="table table-striped" id="monthlyTimeTable" style="display: none">
            <thead>
            <tr>
                <th>시작일</th>
                <th>종료일</th>
                <th>누적시간</th>
            </tr>
            </thead>
            <tbody id="monthlyTimeTableBody">

            </tbody>
        </table>
    </div>

</div>
<div th:replace="fragments/footer :: footer"></div>

<script type="text/javascript" th:src="@{/js/focussession/statistic.js}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</body>
</html>