<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>내 정보</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>


<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
                <th>오늘 총 공부시간</th>
                <th>주간 총 공부시간</th>
                <th>월간 총 공부시간</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="focusSession : ${focusSessions}">
                <td th:text="${focusSession.id}"></td>
                <td th:text="test"></td>
                <td th:text="${focusSession.startDateTime}"></td>
                <td th:text="${focusSession.endDateTime}"></td>
                <td th:text="test"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<div th:replace="fragments/footer :: footer"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</body>
</html>