<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>내 정보</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>


<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>

</div>
<div th:replace="fragments/footer :: footer"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</body>
</html>