<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>


<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div class="jumbotron">
        <h1>Hello Focus</h1>
        <p class="lead">회원 기능</p>
        <div th:if="${session.loginId == null}">
            <p>
                <a class="btn btn-lg btn-secondary" href="/members/new">회원 가입</a>
                <!--                    <a class="btn btn-lg btn-secondary" href="/members">회원 목록</a>-->
                <a class="btn btn-lg btn-secondary" href="/members/login">로그인</a>
            </p>
        </div>
        <div th:if="${session.loginId != null}">
            <p>
                <a class="btn btn-lg btn-secondary"
                   th:href="@{/members/mypage(id=${session.loginId})}">내 정보</a> <br/>
                <a class="btn btn-lg btn-secondary"
                   href="/members">회원 목록</a> <br/>
                <a href="/members/logout">로그아웃</a>
            </p>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</div> <!-- / container -->

</body>
</html>